html, body {
    background-color: #fff;
    color: #000;
    /*font-family: 'Raleway', sans-serif;
    font-weight: 100;*/
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    /*display: flex;*/
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    padding-top: 100px;
    text-align: center;
}

.title {
    font-size: 50px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-top:100px;
    margin-bottom: 30px;
}
#upload_trigger, button[type=submit], .downloadAndTestApiButtons a {
    padding: 8px 13px;                
    background: #F4BF42;
    border: 1px solid #F4BF42;
    font-family: arial;
    font-size: 15px;
    color: #000;
    cursor: pointer;
}
#upload_trigger:hover, button[type=submit]:hover, .downloadAndTestApiButtons a:hover {
    background: none;                
}
label {
    color:#000;
}

.error {
    display: inline-block;
    min-width: 300px;
    padding: 10px;
    border: 1px solid #db2b3a;
    border-radius: 12px;
    color: #db2b3a;    
}

.progress img {
    vertical-align: middle;
    margin-right: 15px;
}
.progress span {
    font-size: 20px;
}
.downloadAndTestApiButtons {
    margin-bottom: 20px;
}
.downloadAndTestApiButtons a {
    text-decoration: none;
}

/* API answer block on slider/{sliderPrefix} page*/

#apiAnswer {
    margin: 20px 0;
}
#apiAnswer .hrefList, #apiAnswer .imagesList  {
    padding: 20px 0;
}
#apiAnswer .hrefList a {
    display: block;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#apiAnswer .hrefList a:hover {
    text-decoration: underline;
}
#apiAnswer .imagesList img {
    display: inline-block;
    max-width: 200px;
}